In [1]:
import pandas as pd

In [2]:
clean_df = pd.read_csv('coronavirus_states_raw.csv',index_col=False).drop(["#","Source","Projections"],axis=1)
clean_df

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
0,USA Total,30365111,"+6,231",552556.0,86.0,22524111.0,7288444.0,91737.0,1669.0,385732183.0,1165345.0,NaN
1,California,3635598,NaN,56824.0,NaN,1914453.0,1664321.0,92012.0,1438.0,51601716.0,1305968.0,39512223.0
2,Texas,2749440,NaN,47257.0,NaN,2590824.0,111359.0,94822.0,1630.0,24507017.0,845190.0,28995881.0
3,Florida,1994117,NaN,32613.0,NaN,1329665.0,631839.0,92846.0,1518.0,24357867.0,1134098.0,21477737.0
4,New York,1811288,NaN,49539.0,NaN,932935.0,828814.0,93108.0,2547.0,42015555.0,2159787.0,19453561.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60,Navajo Nation,29987,NaN,1228.0,NaN,16289.0,12470.0,NaN,NaN,250472.0,NaN,NaN
61,Grand Princess Ship,122,NaN,7.0,NaN,115.0,0.0,NaN,NaN,NaN,NaN,NaN
62,Wuhan Repatriated,3,NaN,NaN,NaN,3.0,0.0,NaN,NaN,3.0,NaN,NaN
63,Diamond Princess Ship,46,NaN,NaN,NaN,46.0,0.0,NaN,NaN,46.0,NaN,NaN
64,Total:,30365111,"+6,231",552556.0,86.0,22524111.0,7288444.0,91737.0,1669.0,385732183.0,1165345.0,NaN

In [3]:
# Drop rows which are totals or non-state/territories e.g. Grand Princess Ship
clean_df.drop(clean_df[(clean_df["USAState"]=="Total:") | (clean_df["USAState"]=="USA Total") | (clean_df["USAState"]=="Federal Prisons") | (clean_df["USAState"]=="Navajo Nation") | (clean_df["USAState"]=="Grand Princess Ship")| (clean_df["USAState"]=="Wuhan Repatriated")| (clean_df["USAState"]=="Diamond Princess Ship")| (clean_df["USAState"]=="Veteran Affairs")| (clean_df["USAState"]=="US Military")].index, inplace=True)
clean_df.rename(columns = {"USAState": "state_name"},inplace=True)

In [4]:
# Drop columns which could be calculated in the database
cols=[7,8,10]
clean_df.drop(clean_df.columns[cols],axis=1,inplace=True)

In [5]:
# Convert all data types to integers/floats by removing commas, special characters etc. 
clean_new_cases = pd.concat([clean_df["NewCases"].str.split()
                               .str[0]
                               .str.replace(',','').astype(float) for col in clean_df], axis=1)

In [6]:
# replace the old columns with the new
clean_df["NewCases"] = clean_new_cases

In [7]:
# check the types
clean_df.dtypes

state_name         object
TotalCases          int64
NewCases          float64
TotalDeaths       float64
NewDeaths         float64
TotalRecovered    float64
ActiveCases       float64
TotalTests        float64
Population        float64
dtype: object

In [8]:
# reset the index
clean_df.set_index("state_name")

KeyError: "None of ['USAState'] are in the columns"

In [70]:
# Export the clean data to a csv
clean_df.to_csv('coronavirus_states_clean.csv',index=False)