In [1]:
import pandas as pd
import datetime as dt

In [2]:
clean_df = pd.read_csv('coronavirus_states_raw.csv',index_col=False).drop(["#","Source","Projections"],axis=1)
clean_df

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
0,USA Total,30365111,"+6,231",552556.0,86.0,22524111.0,7288444.0,91737.0,1669.0,385732183.0,1165345.0,NaN
1,California,3635598,NaN,56824.0,NaN,1914453.0,1664321.0,92012.0,1438.0,51601716.0,1305968.0,39512223.0
2,Texas,2749440,NaN,47257.0,NaN,2590824.0,111359.0,94822.0,1630.0,24507017.0,845190.0,28995881.0
3,Florida,1994117,NaN,32613.0,NaN,1329665.0,631839.0,92846.0,1518.0,24357867.0,1134098.0,21477737.0
4,New York,1811288,NaN,49539.0,NaN,932935.0,828814.0,93108.0,2547.0,42015555.0,2159787.0,19453561.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60,Navajo Nation,29987,NaN,1228.0,NaN,16289.0,12470.0,NaN,NaN,250472.0,NaN,NaN
61,Grand Princess Ship,122,NaN,7.0,NaN,115.0,0.0,NaN,NaN,NaN,NaN,NaN
62,Wuhan Repatriated,3,NaN,NaN,NaN,3.0,0.0,NaN,NaN,3.0,NaN,NaN
63,Diamond Princess Ship,46,NaN,NaN,NaN,46.0,0.0,NaN,NaN,46.0,NaN,NaN
64,Total:,30365111,"+6,231",552556.0,86.0,22524111.0,7288444.0,91737.0,1669.0,385732183.0,1165345.0,NaN

In [3]:
# Drop rows which are totals or non-state/territories e.g. Grand Princess Ship
clean_df.drop(clean_df[(clean_df["USAState"]=="Total:") | (clean_df["USAState"]=="USA Total") | (clean_df["USAState"]=="Federal Prisons") | (clean_df["USAState"]=="Navajo Nation") | (clean_df["USAState"]=="Grand Princess Ship")| (clean_df["USAState"]=="Wuhan Repatriated")| (clean_df["USAState"]=="Diamond Princess Ship")| (clean_df["USAState"]=="Veteran Affairs")| (clean_df["USAState"]=="US Military")].index, inplace=True)
clean_df.rename(columns = {"USAState": "state_name","Population": "state_population"},inplace=True)

In [4]:
# Drop columns which could be calculated in the database
cols=[7,8,10]
clean_df.drop(clean_df.columns[cols],axis=1,inplace=True)

In [5]:
# Convert all data types to integers/floats by removing commas, special characters etc. 
clean_new_cases = pd.concat([clean_df["NewCases"].str.split()
                               .str[0]
                               .str.replace(',','').astype(float) for col in clean_df], axis=1)

In [6]:
# replace the old columns with the new
clean_df["NewCases"] = clean_new_cases

In [7]:
# Add a 'date' column to the data frame to show that the covid data is as of 2021-03-20
clean_df['date'] = pd.Timestamp('2021-03-20')

In [8]:
# check the types
clean_df.dtypes

state_name                  object
TotalCases                   int64
NewCases                   float64
TotalDeaths                float64
NewDeaths                  float64
TotalRecovered             float64
ActiveCases                float64
TotalTests                 float64
state_population           float64
date                datetime64[ns]
dtype: object

In [10]:
# Merge the data frame with states_id_df to add the 'state_id' column
states_id_df = pd.read_csv('States.csv',index_col=False)
clean_df = clean_df.merge(states_id_df, on='state_name')

# Add 'pop_earnings_id' column to the data frame
clean_df['covid_id'] = list(range(1,57))
clean_df = clean_df[['covid_id','state_id','TotalCases','NewCases','TotalDeaths','NewDeaths','TotalRecovered','ActiveCases','TotalTests','state_population','date']]
clean_df

,covid_id,state_id,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,TotalTests,state_population,date
0,1,1,3635598,NaN,56824.0,NaN,1914453.0,1664321.0,51601716.0,39512223.0,2021-03-20
1,2,2,2749440,NaN,47257.0,NaN,2590824.0,111359.0,24507017.0,28995881.0,2021-03-20
2,3,3,1994117,NaN,32613.0,NaN,1329665.0,631839.0,24357867.0,21477737.0,2021-03-20
3,4,4,1811288,NaN,49539.0,NaN,932935.0,828814.0,42015555.0,19453561.0,2021-03-20
4,5,5,1216090,NaN,23287.0,NaN,1135756.0,57047.0,19389098.0,12671821.0,2021-03-20
5,6,6,1040817,NaN,18420.0,NaN,596487.0,425910.0,8058303.0,10617423.0,2021-03-20
6,7,7,995785,NaN,17992.0,NaN,946602.0,31191.0,10591209.0,11689100.0,2021-03-20
7,8,8,985066,2944.0,24886.0,32.0,898699.0,61481.0,11158837.0,12801989.0,2021-03-20
8,9,9,891314,NaN,11783.0,NaN,852732.0,26799.0,10900126.0,10488084.0,2021-03-20
9,10,10,853349,NaN,24076.0,NaN,627532.0,201741.0,11474078.0,8882190.0,2021-03-20
10,11,11,834607,NaN,16645.0,NaN,785612.0,32350.0,4401682.0,7278717.0,2021-03-20
11,12,12,796624,NaN,11681.0,NaN,772665.0,12278.0,7034682.0,6829174.0,2021-03-20
12,13,13,683398,NaN,16843.0,NaN,556697.0,109858.0,11570859.0,9986857.0,2021-03-20
13,14,14,675388,NaN,12907.0,NaN,520198.0,142283.0,8556561.0,6732219.0,2021-03-20
14,15,15,608318,NaN,16759.0,NaN,565929.0,25630.0,17714455.0,6892503.0,2021-03-20
15,16,16,600550,NaN,10182.0,NaN,49395.0,540973.0,8043259.0,8535519.0,2021-03-20
16,17,17,571220,NaN,6556.0,NaN,558115.0,6549.0,3249111.0,5822434.0,2021-03-20
17,18,18,568926,NaN,8914.0,NaN,386465.0,173547.0,5866988.0,6137428.0,2021-03-20
18,19,19,537498,NaN,8938.0,NaN,NaN,NaN,6433793.0,5148714.0,2021-03-20
19,20,20,510048,NaN,10391.0,NaN,310742.0,188915.0,2492531.0,4903185.0,2021-03-20
20,21,21,501458,NaN,6830.0,NaN,485358.0,9270.0,7847879.0,5639632.0,2021-03-20
21,22,22,446580,NaN,6142.0,NaN,299195.0,141243.0,2662341.0,5758736.0,2021-03-20
22,23,23,439543,NaN,9974.0,NaN,426243.0,3326.0,6311156.0,4648794.0,2021-03-20
23,24,24,434075,NaN,4788.0,NaN,417734.0,11553.0,3671576.0,3956971.0,2021-03-20
24,25,25,419149,NaN,5504.0,NaN,48964.0,364681.0,4739044.0,4467673.0,2021-03-20
25,26,26,397898,1152.0,8132.0,19.0,9797.0,379969.0,8433019.0,6045680.0,2021-03-20
26,27,27,380340,NaN,2041.0,NaN,367018.0,11281.0,4066552.0,3205958.0,2021-03-20
27,28,28,372868,428.0,5672.0,NaN,326506.0,40690.0,4303965.0,3155070.0,2021-03-20
28,29,29,356063,NaN,5230.0,NaN,176006.0,174827.0,5630802.0,7614893.0,2021-03-20
29,30,30,328045,NaN,5515.0,NaN,319771.0,2759.0,3299489.0,3017804.0,2021-03-20
30,31,31,301924,NaN,6938.0,NaN,287341.0,7645.0,2560505.0,2976149.0,2021-03-20
31,32,32,301763,NaN,4850.0,NaN,282625.0,14288.0,1293893.0,2913314.0,2021-03-20
32,33,33,300415,NaN,5157.0,NaN,269236.0,26022.0,2863567.0,3080156.0,2021-03-20
33,34,34,295484,NaN,7822.0,NaN,259572.0,28090.0,7274861.0,3565287.0,2021-03-20
34,35,35,205539,NaN,2130.0,NaN,158999.0,44410.0,986473.0,1934408.0,2021-03-20
35,36,36,189158,NaN,3877.0,NaN,169889.0,15392.0,2885907.0,2096829.0,2021-03-20
36,37,37,176802,NaN,1938.0,NaN,98510.0,76354.0,1148603.0,1787065.0,2021-03-20
37,38,38,160622,NaN,2353.0,NaN,141121.0,17148.0,4021248.0,4217737.0,2021-03-20
38,39,39,137092,376.0,2600.0,30.0,129143.0,5349.0,2341373.0,1792147.0,2021-03-20
39,40,40,132616,NaN,2594.0,NaN,8124.0,121898.0,3301005.0,1059361.0,2021-03-20
40,41,41,115203,NaN,1919.0,NaN,111120.0,2164.0,435353.0,884659.0,2021-03-20
41,42,42,102616,NaN,1406.0,NaN,100217.0,993.0,1151030.0,1068778.0,2021-03-20
42,43,43,101403,NaN,1459.0,NaN,99171.0,773.0,410293.0,762062.0,2021-03-20
43,44,44,91425,NaN,1517.0,NaN,83108.0,6800.0,647072.0,973764.0,2021-03-20
44,45,45,79702,NaN,1207.0,NaN,76155.0,2340.0,1794066.0,1359711.0,2021-03-20
45,46,46,58580,NaN,306.0,NaN,50446.0,7828.0,1820986.0,731545.0,2021-03-20
46,47,47,55479,NaN,693.0,NaN,54378.0,408.0,668703.0,578759.0,2021-03-20
47,48,48,48070,238.0,728.0,1.0,12909.0,34433.0,1996240.0,1344212.0,2021-03-20
48,49,49,42892,NaN,1046.0,NaN,30631.0,11215.0,1314784.0,705749.0,2021-03-20
49,50,50,28509,NaN,451.0,NaN,NaN,NaN,1199823.0,1415872.0,2021-03-20
50,51,51,17247,NaN,217.0,NaN,14507.0,2523.0,1214526.0,623989.0,2021-03-20
51,52,52,194704,1093.0,2089.0,4.0,93486.0,99129.0,464073.0,3386941.0,2021-03-20
52,53,53,7780,NaN,134.0,NaN,7618.0,28.0,136135.0,NaN,2021-03-20
53,54,54,2804,NaN,25.0,NaN,NaN,NaN,50108.0,NaN,2021-03-20
54,55,55,157,NaN,2.0,NaN,NaN,NaN,26131.0,NaN,2021-03-20
55,56,56,3,NaN,NaN,NaN,3.0,0.0,NaN,NaN,2021-03-20

In [11]:
# Export the clean data to a csv
clean_df.to_csv('covid_data.csv',index=False)